<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <title>Weather App (uses service and factory)</title>
        <link />
        <script src="../libs/angular/angular.1.4.0.js"></script>
        <script src="app/js/app.js"></script>
        <script src="app/js/controllers/controllers.js"></script>
        <script src="app/js/services/factory.js"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body ng-controller="WeatherController">
        <input type="text" placeholder="city" ng-model="city" /><br/>
        <input type="text" placeholder="country" ng-model="country" /><br/>
        <button ng-click="getWeather()">Get Weather</button>
        
        <hr/>
        
        <h2>Weather Conditions: {{weatherDescription}}</h2>
       <h3>Weather Temp: {{weatherTemp}}</h3>
        <h3>Weather Latitude: {{weatherLat}}</h3>
       <h3>Weather Longitude: {{weatherLong}}</h3>
      
        
    </body>
</html>



